@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f8f9fa;
  color: #111111;
}

@layer utilities {
  .page-fade-in {
    @apply animate-fadeIn;
  }
}
